<footer class="main-footer">
    <strong>Copyright © 2023 Vlog By Jingxuan Wei </strong>
</footer>

<script src="/static/plugins/pjax/jquery.pjax.js"></script>
<script src="/static/plugins/pace/pace.min.js"></script>
<script src="/static/js/adminlte.min.js"></script>
<script src="/static/plugins/toast/js/jquery.toast.min.js"></script>
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/static/plugins/bootstrap-fileinput/js/locales/zh.js"></script>
<script src="/static/js/app.js"></script>
<script>
    Pace.options = {
        restartOnRequestAfter: false
    };
    $(document).ajaxStart(function () {
        Pace.restart();
    });
    $(document).pjax('a[data-pjax=true]', '.content-wrapper', {
        fragment: '.content-wrapper',
        timeout: 8000
    });
    const heading = "Tips";
</script>
</body>
</html>
