<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>[[${title != null ? title : 'Vlog'}]]</title>
        <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/plugins/pace/pace.min.css">
        <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
        <link rel="stylesheet" href="/static/css/skins/_all-skins.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/loader.css">
        <link rel="stylesheet" href="/static/plugins/toast/css/jquery.toast.min.css">
        <link rel="stylesheet" href="/static/plugins/pretty-checkbox/pretty-checkbox.min.css">
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="/static/plugins/jquery/jquery.min.js"></script>
        <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/plugins/bootstrapStyle/bootstrapStyle.css">
        <link rel="stylesheet" href="/static/plugins/bootstrap-fileinput/css/fileinput.min.css">

        <script type="text/javascript" src="/static/plugins/zTree/js/jquery.ztree.core.js"></script>
        <script type="text/javascript" src="/static/plugins/zTree/js/jquery.ztree.excheck.js"></script>
        <script type="text/javascript" src="/static/plugins/zTree/js/jquery.ztree.exedit.js"></script>
        <script src="/static/plugins/tinymce/tinymce.min.js"></script>
        <link rel="shortcut icon" href="/static/images/favicon.ico">

    </head>
    <body class="hold-transition sidebar-mini fixed skin-blue">
        <header class="main-header">
            <a href="/admin" class="logo">
                <span class="logo-mini"><b>F</b>L</span>
                <span class="logo-lg">Flame</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="/" title="go to front page"
                               target="_blank"><i class="fa fa-location-arrow"></i></a></li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img th:src="${session.user.userAvatar}" class="user-image loginUserAvatar" alt="User
                                Image">
                                <span class="hidden-xs loginUserDisplayName">[[${session.user.userName}]]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img th:src="${session.user.userAvatar}" class="img-circle loginUserAvatar" alt="User
                                    Image">
                                    <p class="loginUserDisplayName">[[${session.user.userName}]]</p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left"><a data-pjax="true" href="/admin/user/profile"
                                                              class="btn btn-default "><i
                                            class="fa fa-user"></i>User Profile</a></div>
                                    <div class="pull-right"><a href="/admin/logout" class="btn btn-default "><i
                                            class="fa fa-sign-out"></i>Logout</a></div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
