<aside class="main-sidebar">
    <section class="sidebar">
<!--最上面的头像-->
        <div class="user-panel">
            <div class="pull-left image">
                <img th:src="${session.user.userAvatar}" class="img-circle loginUserAvatar" style="width: 45px;height: 45px;" alt="User Image">
            </div>
            <div class="pull-left info">
                <p class="loginUserDisplayName">[[${session.user.userName}]]</p>
                <a href="/admin/user/profile"><i
                        class="fa fa-circle text-success"></i>ADMIN</a>
            </div>
        </div>
        <form action="/search" method="get" target="_blank" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="keyword" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button type="submit" name="keyword" id="search-btn" target="_blank" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
            </div>
        </form>
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">LIST</li>
            <li th:classappend="${tab == 'index' ? 'active' : ''}"><a  href="/admin"> <i class="fa fa-dashboard"></i> <span>Dashboard</span> </a></li>
            <li th:classappend="${tab == 'post' ? 'active' : ''}"><a  href="/admin/post"> <i class="fa fa-pencil"></i> <span>Posts</span> </a></li>
            <li th:classappend="${tab == 'category' ? 'active' : ''}"><a  href="/admin/category"> <i class="fa fa-cube"></i> <span>Categories</span> </a></li>
            <li th:classappend="${tab == 'tag' ? 'active' : ''}"><a  href="/admin/tag"> <i class="fa fa-tags"></i> <span>Tags</span> </a></li>
            <li th:classappend="${tab == 'comment' ? 'active' : ''}"><a  href="/admin/comment"> <i class="fa fa-comment"></i> <span>Comments</span> </a></li>
            <li th:classappend="${tab == 'profile' ? 'active' : ''}"><a  href="/admin/user/profile"> <i class="fa fa-user"></i> <span>User Profile</span> </a></li>
        </ul>
    </section>
</aside>
