<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Admin Sign In</title>
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="HTML5 Template">
        <meta name="description" content="Forum - Responsive HTML5 Template">
        <meta name="author" content="Forum">
        <link rel="stylesheet" href="/static/plugins/toast/css/jquery.toast.min.css">
        <link rel="shortcut icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="/static/login/css/style.css">
        <link rel="stylesheet" href="/static/login/css/main.css">
    </head>
    <body>
        <main id="tt-pageContent" class="tt-offset-none">
            <div class="container">
                <div class="tt-loginpages-wrapper">
                    <div class="tt-loginpages">
<!--                        点击 vlog admin login 可以再次进入登录页面-->
                        <a href="/admin/login" class="tt-block-title" style="text-align: center;">
                            <img src="/static/assets/images/logo2.png" style="width: 150px;" alt="">
                            <div class="tt-title">
                                Vlog Admin Sign In
                            </div>
                        </a>
                        <form class="form-default">
                            <div class="form-group">
                                <label for="userName">Admin UserName</label>
                                <input type="text" name="userName" class="form-control" id="userName">
                            </div>
                            <div class="form-group">
                                <label for="userPass">Admin PassWord</label>
                                <input type="password" name="userPass" class="form-control" id="userPass">
                            </div>
<!--                            记住我选项-->
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="checkbox-group">
<!--                                            这个checkbox 是自己写的，不是bootstrap的 用来记住密码-->
                                            <input type="checkbox" id="rememberMe" name="checkbox" checked>
                                            <label for="rememberMe">
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                <span class="tt-text">Remember me</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="#" id="btn-login" class="btn btn-secondary btn-block">Sign In</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
<!--        js顺序不可以改变,否则会出错-->
        <script src="/static/login/js/bundle.js"></script>
        <script src="/static/plugins/toast/js/jquery.toast.min.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/login.js"></script>
    </body>
</html>