<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/module/_header"></div>
<div class="wrapper">
    <div th:replace="admin/module/_sidebar"></div>
    <div class="content-wrapper">
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <form role="form">
                            <div class="box-body">
                                <input type="hidden" id="id" th:value="${post.id}">
                                <div class="form-group">
                                    <label>Post title</label>
                                    <input type="text" class="form-control input-lg" id="title" th:value="${post.postTitle}" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>Input Content</label>
                                    <textarea id="postContent">[[${post.postContent}]]</textarea>
                                </div>

                                <br>
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control  input-lg" id="cateId">
                                        <option value="-1" disabled="" selected>Select</option>
                                        <option th:each="c : ${categories}" th:selected="${cateId == c.id}" th:value="${c.id}">[[${c.cateName}]]
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Tag</label>
                                    <input type="text" class="form-control input-lg" id="tags"
                                           placeholder="Please enter tags, separated by commas" th:value="${tags}">
                                </div>
                                <div class="form-group">
                                    <label>Thumbnail</label>
                                    <input type="file" id="thumbnailFile">
                                    <input type="hidden" id="postThumbnail" th:value="${post.postThumbnail}" >
                                    <img  style="width: 200px; " alt="" id="thumbnailImg" th:src="${post.postThumbnail}">
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" onclick="createSubmit(1)">Publish</button>
                                <button type="button" class="btn btn-info" onclick="createSubmit(0)">Draft</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        tinymce.init({
            selector: '#postContent',
            height: 600,
            theme: "silver",
            browser_spellcheck: true,
            branding: true,
            statusbar: false,
            paste_data_images: true,
            menubar: true,
            fontsize_formats: "12px 13px 14px 15px 16px 17px 18px 20px 22px 24px 26px 30px 35px 40px 50px",
            plugins: "print preview fullpage searchreplace autolink directionality visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount  imagetools  contextmenu colorpicker textpattern help code",
            toolbar: "formatselect | bold italic strikethrough forecolor backcolor fontsizeselect | link image  | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat| code",
            paste_webkit_styles: true,
            images_upload_url: '/admin/file/upload',
            contextmenu: `inserttable | cell row column deletetable`,
            relative_urls: false,
            remove_script_host: false
        });

        function createSubmit(status) {
            const id = $('#id').val();
            const title = $('#title').val();
            const cateId = $('#cateId').val();
            const tags = $('#tags').val();
            const postThumbnail = $('#postThumbnail').val();
            const content = tinymce.activeEditor.getContent();
            if (cateId == null || cateId === '' || cateId === -1) {
                showMsg("Please select category", "info", 2000);
                return;
            }
            if (title == null || title === '') {
                showMsg("Please enter article title", "info", 2000);
                return;
            }
            $.ajax({
                type: 'POST',
                url: '/admin/post/update',
                async: false,
                data: {
                    'id': id,
                    'postStatus': status,
                    'postTitle': title,
                    'postContent': content,
                    'postThumbnail': postThumbnail,
                    'cateId': cateId,
                    'tags': tags
                },
                success: function (data) {
                    if (data.code === 1) {
                        if (status === 0) {
                            showMsg("Successfully", "success", 2000);
                        }
                        {
                            showMsgAndRedirect("Successfully", "success", 1000, "/admin/post");
                        }
                    } else {
                        showMsg(data.msg, "error", 2000);
                    }
                }
            });
        }

        $('body').on('change', '#thumbnailFile', () => {
            const formData = new FormData();
            const [file] = $('#thumbnailFile').prop('files');
            formData.append('file', file);
            $.ajax({
                url: '/file/upload/img',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: (res) => {
                    if (res.code === 0) {
                        $('#thumbnailImg').hide();
                        showMsg(res.msg, 'error', 2000);
                    } else {
                        $('#postThumbnail').val(res.result);
                        $('#thumbnailImg').show().attr('src', res.result);
                    }
                },
                error: () => {
                    showMsg('File upload failed', 'error', 2000);
                }
            });
        });


    </script>
</div>
<div th:replace="admin/module/_footer"></div>

