<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eu">
<div th:replace="admin/module/_header"></div>

<div class="wrapper">

    <!-- 菜单栏 -->
    <div th:replace="admin/module/_sidebar"></div>
<!--    正文-->
    <div class="content-wrapper">

        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <form action="/admin/tag/create" method="post" role="form" >
                            <div class="box-body">
                                <div class="form-group">
                                    <label>New Tag Name</label>
                                    <input type="text" class="form-control" id="tagName">
                                </div>
                            </div>
<!--                            提交或者取消-->
                            <div class="box-footer">
                                <button type="button" onclick="createSubmit()" class="btn btn-primary btn-sm ">
                                    Update
                                </button>
                                <a href="/admin/tag" class="btn btn-info btn-sm">
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        const createSubmit = () => {
            $.ajax({
                type: 'POST',
                url: '/admin/tag/create',
                async: false,
                data: {
                    tagName: $('#tagName').val()
                },
                success: (data) => {
                    if (data.code === 0) {
                        showMsg(`${data.msg}`, "error", 1000);
                    } else {
                        showMsgAndRedirect(`${data.msg}`, "success", 1000, "/admin/tag");
                    }
                }
            });
        };
    </script>
</div>

<div th:replace="admin/module/_footer"></div>

