<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/module/_header"></div>

<div class="wrapper">
    <div th:replace="admin/module/_sidebar"></div>
    <div class="content-wrapper">
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <form action="/admin/tag/create" method="post" role="form" >
                            <input type="hidden" id="id" th:value="${tag.id}">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Tag Name</label>
                                    <input type="text" class="form-control" th:value="${tag.tagName}" id="tagName">
                                </div>
                            </div>

                            <div class="box-footer">
                                <button type="button" onclick="updateSubmit()" class="btn btn-primary btn-sm ">
                                    Update
                                </button>
                                <a href="/admin/tag" class="btn btn-info btn-sm">
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        function updateSubmit() {
            const id = $('#id').val();
            const tagName = $('#tagName').val();

            $.ajax({
                type: 'POST',
                url: '/admin/tag/update',
                data: { id, tagName },
            })
                .done(function (data) {
                    if (data.code === 0) {
                        showMsg(data.msg, 'error', 1000);
                    } else {
                        showMsgAndRedirect(data.msg, 'success', 1000, '/admin/tag');
                    }
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    console.error('Error:', errorThrown);
                });
        };

    </script>
</div>

<div th:replace="admin/module/_footer"></div>

