<footer class="light">
    <!-- Footer bottom-->
    <div class="site-info footer-bottom">
        <div class="container">
            <div class="block-left">
                <div class="alay-widget wg-social">
                    <span class="text">Copyright © 2023 Vlog By JingxuanWei</span>
                </div>
            </div>
            <div class="block-right">
                <div class="content-text">

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>
</div>
</div>

<!-- Bootstrap Dependence-->
<script src="/static/assets/vendors/popper.min.js"></script>
<!-- Bootstrap JavaScript-->
<script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<!-- Vendors-->
<script src="/static/assets/vendors/slick/slick.min.js"></script>
<script src="/static/assets/vendors/masonry/masonry.pkgd.min.js"></script>
<script src="/static/assets/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/static/assets/vendors/jquery-countTo/jquery.countTo.min.js"></script>
<script src="/static/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
<script src="/static/assets/vendors/parallax/parallax.min.js"></script>
<script src="/static/assets/vendors/gmaps/gmaps.min.js"></script>
<script src="/static/assets/vendors/audiojs/audio.min.js"></script>
<script src="/static/assets/vendors/wowjs/wow.min.js"></script>
<script src="/static/assets/vendors/skrollr.min.js"></script>
<script src="/static/assets/vendors/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/static/assets/vendors/classie.js"></script>
<!--<script src="/static/assets/vendors/fullscreen-overlay/js/style5.js"></script>-->
<script src="/static/assets/vendors/lightbox/js/lightbox.min.js"></script>


<script src="/static/assets/js/main.js"></script>
<script src="/static/assets/js/shortcode.js"></script>
<script src="/static/plugins/toast/js/jquery.toast.min.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>
