<div class="pagination">
    <ul class="list-unstyled" th:if="${pageInfo.pages > 1 && pageInfo.pages <= 7}">
        <!-- Prev -->
        <li class="pagi-prev">
            <a th:if="${pageInfo.current > 1}" th:href="${pagePrefix}+'page='+${pageInfo.current - 1}">
                Prev
            </a>
            <a th:if="${pageInfo.current <= 1}" href="javascript:void(0)">
                Prev
            </a>
        </li>

        <li
                th:classappend="${(pageInfo.current) eq i} ? 'active' : ''"
                th:each="i : ${#numbers.sequence(1, pageInfo.pages)}">
            <!-- 当前页面小于等于4 -->
            <a th:href="${pagePrefix}+'page='+${i}">
                [[${i}]]
            </a>
        </li>

        <li class="pagi-next">
            <!-- 下一页 -->
            <a th:if="${pageInfo.current != pageInfo.pages}"
               th:href="${pagePrefix}+'page='+${pageInfo.current + 1}">
                Next
            </a>
            <a th:if="${pageInfo.current == pageInfo.pages}" href="javascript:void(0)">
                Next
            </a>
        </li>

    </ul>
    <ul class="list-unstyled" th:if="${pageInfo.pages > 7}">
        <!-- Prev -->
        <li class="pagi-prev">
            <a th:if="${pageInfo.current > 1}"
               th:href="${pagePrefix}+'page='+${pageInfo.current - 1}">
                Prev
            </a>
            <a th:if="${pageInfo.current <= 1}" href="javascript:void(0)">
                Prev
            </a>
        </li>

        <li th:classappend="${(pageInfo.current) eq 1} ? 'active' : ''">
            <a th:href="${pagePrefix}+'page=1'">
                1
            </a>
        </li>

        <li th:if="${(pageInfo.current) le 4}"
            th:classappend="${(pageInfo.current) eq i} ? 'active' : ''"
            th:each="i : ${#numbers.sequence(2,5)}">
            <!-- 当前页面小于等于4 -->
            <a th:href="${pagePrefix}+'page='+${i}">
                [[${i}]]
            </a>
        </li>

        <li th:if="${(pageInfo.current) le 4}">
            <a href="javascript:void(0)">&hellip;</a>
        </li>

        <li th:if="${(pageInfo.pages-(pageInfo.current)) le 3}">
            <a href="javascript:void(0)">&hellip;</a>
        </li>


        <li th:if="${(pageInfo.pages-(pageInfo.current)) le 3}"
            th:classappend="${(pageInfo.current) eq i} ? 'active' : ''"
            th:each="i : ${#numbers.sequence(pageInfo.pages-4, pageInfo.pages-1)}">
            <a th:href="${pagePrefix}+'page='+${i}">
            [[${i}]]
            </a>
        </li>

        <li th:if="${((pageInfo.current) gt 4) && ((pageInfo.pages-(pageInfo.current)) gt 3 )}">
            <a href="javascript:void(0)">&hellip;</a>
        </li>


        <li th:if="${((pageInfo.current) gt 4) && ((pageInfo.pages-(pageInfo.current)) gt 3 )}"
            th:classappend="${(pageInfo.current) eq (pageInfo.current)} ? 'active' : ''">
            <a th:href="${pagePrefix}+'page='+${pageInfo.current}">
                [[${pageInfo.current}]]
            </a>
        </li>

        <li th:if="${((pageInfo.current) gt 4) && ((pageInfo.pages-(pageInfo.current)) gt 3 )}">
            <a th:href="${pagePrefix}+'page='+${pageInfo.current + 1}">
                [[${pageInfo.current+1}]]
            </a>
        </li>


        <li th:if="${((pageInfo.current) gt 4) && ((pageInfo.pages-(pageInfo.current)) gt 3 )}">
            <a th:href="${pagePrefix}+'page='+${pageInfo.current + 2}">
                [[${pageInfo.current+2}]]
            </a>
        </li>


        <li
                th:if="${((pageInfo.current) gt 4) && ((pageInfo.pages-(pageInfo.current)) gt 3 )}">
            <a href="javascript:void(0)">&hellip;</a>
        </li>

        <li
                th:classappend="${(pageInfo.current) eq pageInfo.pages} ? 'active' : ''">
            <!-- 最后一页 -->
            <a th:href="${pagePrefix}+'page='+${pageInfo.pages}">
                [[${pageInfo.pages}]]
            </a>
        </li>


        <li class="pagi-next">
            <!-- 下一页 -->
            <a th:if="${pageInfo.current != pageInfo.pages}"
               th:href="${pagePrefix}+'page='+${pageInfo.current + 1}">
                Next
            </a>
            <a th:if="${pageInfo.current == pageInfo.pages}" href="javascript:void(0)">
                Next
            </a>
        </li>

    </ul>
</div>