<div class="page-sidebar">
    <!-- search-->
    <div class="swin-widget swin-panel widget-search">
        <form class="search-form" th:action="${post != null ? '/' : ''}">
            <input type="search" placeholder="Search"  th:value="${keywords}" name="keywords" value="" class="search-input">
            <span class="search-submit">
                                    <i class="fa fa-search"></i>
                                </span>
        </form>
    </div>
    <!-- About -->
    <div class="swin-widget alay-sc-about-me sc-wg">
        <div class="information">
            <div class="title"><span>About Me</span></div>
            <div class="avatar"><img th:src="${user.userAvatar}" th:alt="${user.userDisplayName}">
            </div>
            <div class="author"><a href="#">[[${user.userDisplayName}]]</a></div>
            <div class="des">[[${user.userDesc}]]</div>
        </div>
    </div>
    <!-- categories-->
    <div class="swin-widget swin-panel widget-categories">
        <div class="swin-title-line text-center"><span>Category</span></div>
        <div class="widget-body widget-content clearfix">
            <a th:href="${'/category/'+item.id}" class="link" th:each="item : ${categoryList}">
                <i class="icons fa fa-angle-right"></i>
                <span class="text">[[${item.cateName}]]</span>
                <span class="badge">[[${item.count}]]</span>
            </a>
        </div>
    </div>
    <!-- tag-->
    <div class="swin-widget swin-panel widget-tag">
        <div class="swin-title-line text-center"><span>TAG</span></div>
        <div class="widget-body widget-content clearfix">
            <ul class="list-unstyled list-inline mbn">
                <li th:each="item : ${tagList}">
                    <a th:href="'/tag/'+${item.id}" class="tag">[[${item.tagName}]]([[${item.count}]])</a>
                </li>

            </ul>
        </div>
    </div>

</div>