<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/module/_header"></div>

<div class="wrapper">

    <div th:replace="admin/module/_sidebar"></div>
    <div class="content-wrapper">
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <form action="/admin/category/create" method="post" role="form" >
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" id="cateName">
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="button" onclick="createSubmit()"
                                        class="btn btn-primary btn-sm ">Submit
                                </button>
                                <a href="/admin/category"
                                   class="btn btn-info btn-sm">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        function createSubmit() {
            const cateName = $('#cateName').val();
            if (cateName === '') {
                showMsg("Please enter category name", "info", 2000);
                return;
            }

            $.post({
                url: '/admin/category/create',
                data: { 'cateName': cateName },
                success: function(data) {
                    if (data.code === 0) {
                        showMsg(data.msg, "error", 1000);
                    } else {
                        showMsgAndRedirect(data.msg, "success", 1000, "/admin/category");
                    }
                },
                error: function() {
                    showMsg("Request failed", "error", 1000);
                }
            });
        }
    </script>
</div>
<div th:replace="admin/module/_footer"></div>

