<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/module/_header"></div>
<div class="wrapper">
    <div th:replace="admin/module/_sidebar"></div>
    <div class="content-wrapper">

        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <form action="/admin/comment/create" method="post" role="form" >
                            <input type="hidden" id="id" th:value="${comment.id}">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" th:value="${comment.authorName}" id="authorName">
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" th:value="${comment.authorEmail}" id="authorEmail">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Content</label>
                                    <textarea class="form-control" rows="3"  id="commentContent"
                                              style="resize: none">[[${comment.commentContent}]]</textarea>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="button" onclick="updateSubmit()"
                                        class="btn btn-primary btn-sm ">Submit
                                </button>
                                <a href="/admin/comment"
                                   class="btn btn-info btn-sm">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        function updateSubmit() {
            const id = $('#id').val();
            const authorName = $('#authorName').val();
            const authorEmail = $('#authorEmail').val();
            const commentContent = $('#commentContent').val();

            if (!id || !authorName || !authorEmail || !commentContent) {
                showMsg('Please fill in all required fields', 'info', 2000);
                return;
            }
            $.ajax({
                type: 'POST',
                url: '/admin/comment/update',
                data: { id, authorName, authorEmail, commentContent },
                success: function (data) {
                    if (data.code === 0) {
                        showMsg(data.msg, 'error', 1000);
                    } else {
                        showMsgAndRedirect(data.msg, 'success', 1000, '/admin/comment');
                    }
                }
            });
        }
    </script>
</div>
<div th:replace="admin/module/_footer"></div>

