<div th:replace="front/module/_header"></div>
<div class="page-container">
    <div class="page-heading-container loaded-images-wrapper">
        <div class="page-heading news-detail"><img
                src="/static/assets/images/650.jpg" alt=""
                class="blog-featured-image">
            <div class="title-wrapper">
                <div class="title">[[${title}]]</div>
            </div>
            <div class="breadcrumb-wrapper">
                <ul class="list-inline mb-0">
                    <li><a href="/">Home</a></li>
                    <li class="current"><a>[[${title}]]</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8">
                    <div class="mbsl"></div>
                    <div class="alay-sc-blog-list style-horizontal">
                        <div th:each="item : ${pageInfo.records}" class="blog-item sub-item mbl">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="item-image">
                                        <div class="img-wrap landscape"><img
                                                th:src="${item.postThumbnail}"
                                                alt="Alay"></div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="item-desc">
                                        <div class="cat-heading">
                                            <a style="color: #f86653" th:if="${item.category != null}" th:href="'/category/'+${item.category.id}">
                                                [[${item.category.cateName}]]
                                            </a>
                                        </div>
                                        <a th:href="'/post/'+${item.id}" class="title">[[${item.postTitle}]]</a>
                                        <p class="content">
                                            [[${item.postSummary}]]
                                        </p>
                                        <div class="block-footer">
                                            <div class="item-left">
                                                <a th:href="'/post/'+${item.id}" class="readmore">KEEP READING...</a>
                                            </div>
                                            <div class="meta-infor box-right">
                                                <a href="news-detail.html" class="date item">
                                                    [[${#dates.format(item.createTime,'yyyy-MM-dd')}]]
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mbxxl"></div>

                    <div th:replace="front/module/_page"></div>
                    <div style="margin-bottom: 30px;"></div>


                    <div class="mbsl d-none d-xs-block"></div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="mbsl"></div>
                    <div th:replace="front/module/_sidebar"></div>
                    <div class="mbsl"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="front/module/_footer"></div>
